body{
  background:url("../img/trivia.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width:100vw;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .center {
    margin:0 auto;
  }

  .header {
    font-size: 1.8em;
    text-align: center;
    color:white;
    background: rgba(0, 0, 0, 0.81);
    padding:1em;
  }

  .header h1 {
    max-width: 40rem;
    text-align: center;
    margin:0 auto;
  }
  .wrap {
    width: 600px;
    min-width:  310px;
    max-width: 80vw;
    margin: 0 auto;
    background:rgba(255, 255, 255, 0.692);
    padding: 1em;
    border-radius: .25rem;
    box-sizing: border-box;

  }
.question {
  margin-bottom:1.5em;
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  font-weight: 900;
}
  .question :after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    background: black;
    width:80%;
    margin:1.5em auto;

  }

  #start {
    margin-top: 1.5em;
    font-size: 1.5em;
    padding: .5em 1em;
    display: block;
    border-radius: 3em;
    background: green;
    color: white;
    transition: all .05s;
  }
#start:hover {
  cursor: pointer;
  box-shadow: 0 0 8px 3px rgb(255, 255, 255);
}

#start:active {
  transform: translate(1px, 1px);
  color:black;
  box-shadow: none;

}

ul {
  display:inline-block;
  margin:0 auto;
}
  .options li {
    margin-bottom:.8em;
    font-size: 1.8em;
  }

  li:hover {
    cursor: pointer;
    border-bottom: solid grey 1.5px;
    display:list-item;
  }

.wrong, .answer {
  border-radius: 1em;
    padding: .5em;
    margin:2em 0;
    clear:both;
    display: list-item;


}

#count {
  font-size: 1.8em;
  text-align: center;
  margin:.5em auto;
}
  .answer {
    border: 3px green solid;
  }

  .wrong {
    border: 3px red solid;
  }
